html {
  height: 100%;
  width: 100%;
}
.maincontainer h3{
  text-align: center;
  
}
.level{
  text-align: center;
}
.btn{
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.box{
  display: flex;
  justify-content: center;
  text-align: center;
  
}
#red{
  background-color: red;
}
#green{
  background-color: green;
}
#orange{
  background-color: orange;
}
#blue{
  background-color: blue;
}